@font-face {
font-family: "Rubik";
font-style: normal;
font-weight: 400;
src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
font-display: swap;
}

@font-face {
font-family: "Rubik";
font-style: normal;
font-weight: 700;
src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
font-display: swap;
}

@font-face {
font-family: "Rubik";
font-style: normal;
font-weight: 800;
src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
font-display: swap;
}

@font-face{
  font-family: "Ralewey";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

/*Обнуление*/
*{
  padding: 0;
  margin: 0;
  border: 0;
}

*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
/*--------------------*/

button {
  padding: 0;
  border: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}
*/

html{
 background-color: #FFFFFF;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

h2{
  font-family: Raleway;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000;
}

address{
  font-style: normal;
}

.main-container{
  flex-grow: 1;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.button{
  font-family: "Ralewey", sans-serif;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: inherit;
}

.button-show{
  margin: 52px 68px 646px 60px;
}

.button-more,
.advantages-button,
.button-about,
.button-feedback,
.button-show{
  background-image: url(../img/button.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 260px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-more:hover,
.advantages-button:hover,
.button-about:hover,
.button-feedback:hover,
.button-show:hover{
  background: #FFE17F;
}

.button-more:focus,
.advantages-button:focus,
.button-about:focus,
.button-feedback:focus,
.button-show:focus{
  background-image: url(../img/focus-button.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;;
}

.button-more:active,
.advantages-button:active,
.button-about:active,
.button-feedback:active{
  display: flex;
  justify-content: start;
  color: #FFE17F;
  width: 280px;
  background-image: none;
  padding-left: 18px;
  background-color: black;
}

.button-show:active{
  opacity: 0.3;
  border: none;
}

.navigation-button{
  font-weight: normal;
  line-height: 19px;
  text-transform: none;
}

.page-wrapper{
  width: 1160px;
  margin: 0 auto;
}

/* Шапка */

.page-header-wrapper{
  margin-top: 40px;
  background-color: #FFE17F;
  color: #000;
}

.navigation-logo{
background-image: linear-gradient(180deg,#fff 20px,#f7e296 20px);
margin-top: -20px;
margin-left: 61px;
}

.navigation-logo{
  position: absolute;
}

.navigation-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navigation-user{
  padding: 48px 60px 44px 60px;
}

.search{
  display: flex;
  height: 40px;
  align-items: center;
}

.search-button{
  font-size: 16px;
  line-height: 19px;
  width: 160px;
  height: 40px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 0px 20px 20px 0px;
}

.search-input{
  background-color: #FFE17F;
  width: 480px;
  height: 40px;
  line-height: 19px;
  color: #000;
  opacity: 0.3;
  padding-left: 20px;
}

.search-input:hover{
  opacity: 0.6;
}

.search:focus{
  border: 2px solid #AF4FFF;
  border-radius: 20px;
}

.navigation-item button{
  /*
  display: block;
  width: 136px;
  height: 40px;
  */

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.navigation-user li:nth-of-type(2) button{
  width: 117px;
  height: 40px;
  position: relative;
}

.navigation-user li:nth-of-type(2) span{
  padding-left: 46px;
}

.navigation-user li:nth-of-type(2) .navigation-icon{
  position: absolute;
  left: 21px;
}

.navigation-user li:nth-of-type(3) button{
  width: 136px;
  height: 40px;
  position: relative;
}

.navigation-user li:nth-of-type(3) span{
  padding-left: 41px;
  padding-right: 5px;
}

.navigation-user li:nth-of-type(3) .navigation-icon{
  position: absolute;
  left: 21px;
}

.navigation-user li:nth-of-type(4) button{
  width: 131px;
  height: 40px;
  position: relative;
}

.navigation-user li:nth-of-type(4) span{
  padding-left: 44px;
}

.navigation-user li:nth-of-type(4) .navigation-icon{
  position: absolute;
  left: 18px;
}

.navigation-user button:hover{
  opacity: 0.6;
}

.navigation-user button:focus{
  border: 2px solid #AF4FFF;
  border-radius: 20px;
}

.navigation-user button:active{
  opacity: 0.3;
}

.navigation-user li:nth-of-type(2){
  outline: 5px solid yellow;
  outline-offset: -5px;
  margin-right: 80px;
}

.navigation-site{
  padding: 29px 59px 167px 60px;
}

.navigation-site li:nth-of-type(2){
  /*margin: auto 19px auto 247px;*/
}

.navigation-site li:nth-of-type(3){
  margin-right: 62px;
}

.site-navigation-button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 20px 15px;
  width: 165px;
  height: 50px;
  border-bottom: none;
  padding-top: -40px;
}

.site-navigation-button span:hover{
  border-bottom: 2px solid #000000;
  margin-bottom: -2px;
}

.site-navigation-button:focus{
  display: flex;
  width: 140px;
  justify-content: center;
  align-items: center;
  padding: 14px 20px 15px;
  border: 2px solid #AF4FFF;
  border-radius: 25px;
}

.catalog-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 293px;
  height: 50px;
}

.catalog-button span{
  width: 236px;

}

.catalog-button span:focus{
  border: 2px solid #AF4FFF;
box-sizing: border-box;
border-radius: 25px;
padding: 14px 0px 15px;
}

.catalog-icon{
  margin-left: 24px;
  opacity: 0.2;
}

/* Слайдер */

.slide-1{
  margin-top: -28px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
  position: relative;
}

.slider-pagination{
  list-style: none;
}

.slider-picture,
.slider-discribe{
  width: 560px;
}

.slider-picture{
  margin-top: -120px;
  height: 560px;
}

.describe-title{
  font-family: Raleway;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000;
  margin-bottom: 19px;
}

.describe-text{
  margin-bottom: 30px;
  z-index: 0;
  position: relative;
}

.information-title{
  font-size: 36px;
  color: #000;
  display: inline-block;
  width: 160px;
  height: 52px;
  margin-top: 70px;
}

.describe-number{
  font-family: Rubik;
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  position: absolute;
  bottom: 100%;
  right: 100px;
  color: #FFFFFF;
  z-index: 1;
}

.information-subtitle{
  font-size: 16px;
  display: inline-block;
  width: 140px;
  height: 30px;
}

.information-subtitle:nth-of-type(2){
  font-size: 16px;
  display: inline-block;
  width: 160px;
  height: 30px;
  margin-left: 20px;
}

.slider-icon-prev{
  fill: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 19px;
  bottom: 250px;
  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}

.slider-icon-next{
  fill: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 620px;
  bottom: 250px;
  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}

.slider-pagination{
  display: flex;
  width: 80px;
  justify-content: space-between;
  position: absolute;
  right: 128px;
  bottom: 183px;
}

.slider-pagination-button{
  width: 12px;
  height: 12px;
  border: 2px solid #000000;
  border-radius: 50%;
}

.slider-pagination-button:focus{
  border: 2px solid #AF4FFF;
}

.slider-pagination-button:hover{
  border: 2px solid #000000;
  opacity: 0.6;
}

.slider-pagination-button:active{
  opacity: 0.3;
}

.active-pagination-button{
  background-color: #000;
}

/* Товары */

figure div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  background: #FFE17F;
}

figcaption a{
  display: inline-block;
  width: 160px;
  color: #000;
}

.product-picture{
  fill: #363636;
}

figure div:focus{
  border: 5px solid #AF4FFF;
}

figcaption a:focus{
  color: #AF4FFF;
}

.product-container:hover{
  background-color: #FFC700;
}

.product-picture:active,
figcaption a:active{
  fill: rgba(54, 54, 54, 0.3);
}

.products-list{
  display: flex;
  justify-content: space-between;
  margin: 0 0 149px 0;
}

.products-description{
  font-family: Raleway;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000;
}

/* Преимущества */

.advantages,
.advantages-text,
.subscribe{
  background-color: #F0F0F0;
}

.page-advantages-wrapper{
  width: 1160px;
  margin: 0 auto;
  position: relative;
}

.advantages-slider{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 288px;
}

.delivery-title{
  font-family: Raleway;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800px;
  height: auto;
  color: #000000;
  display: block;
  width: 560px;
  height: 70px;
  margin-top: -32px;
  margin-right: 70px;
}

.advantages-slider p{
  width: 497px;
  height: 167px;
}

.advantages-list{
  margin-top: -20px;
}

.advantages-list li{
  width: 280px;
}

.advantages-list button{
  width: 160px;
  height: 40px;
  display: block;
}

.advantages-list .advantages-active-li{
  display: block;
  width: 280px;
  background-color: black;
}

li .advantages-active-button{
  display: block;
  width: 160;
  background-color: black;
  background-image: none;
  color: #FFE17F;
}

.advantages-list li:first-of-type{
  margin: 9px 0 45px 0;
}

.advantages-list li:nth-of-type(2){
  margin: 0 0 45px 0;
}

.advantages-list li:last-of-type{
  margin: 0 0 150px 0;
}

.delivery-picture{
  position: absolute;
  bottom: 139px;
  right: 66px;
}

.rare-product-text{
  display: grid;
  grid-template-columns: 125px 1035px;
  grid-template-rows: 100px;
  margin: 90px auto 146px auto;
  width: 1160px;
  height: 100px;
  align-items: center;
  position: relative;
}

.rare-product-text{
  font-family: Raleway;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em
  text-transform: uppercase;
  color: #000;
  background-color: #F0F0F0;

}

.rare-product-text:before{
  content: url(../img/delivery-bus.svg);
  background-color: #FFE17F;
  height: 100px;
  padding-top: 35px;
}

.rare-product-text:after{
  content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='2' height='12' viewBox='0 0 2 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg opacity='0.3'%3e%3cpath d='M2 0H0V2H2V0Z' fill='black'/%3e%3cpath d='M2 4H0V12H2V4Z' fill='black'/%3e%3c/g%3e%3c/svg%3e");
  position: absolute;
  right: 33px;
  width: 40px;
  height: 40px;
  padding-top: 8px;
  border-radius: 50%;
  background-color: rgba(220, 220, 220, 0.5);
}

.rare-product-text:hover:before{
  background-color: #FFC700;
}

.rare-product-text:hover{
  background-color: #EBEBEB;
}

.rare-product-text:hover:after{
  background-color: #DCDCDC;
}

.rare-product-text:focus{
  border: 5px solid #AF4FFF;
  box-sizing: border-box;
}

.rare-product-text:active:before{
  background-color: #FFC700;;
}

.rare-product-text:active{
  color: rgba(0,0,0,0.3);
}

.rare-product-text:active:after{
  background-color: rgba(220, 220, 220, 0.3);
}

/* О нас и Контакты */

.page-columns-wrapper{
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 87px;
}

.about-us,
.contacts{
  width: 560px;
}

.about-title,
.contacts-title{
  margin: 49px 0 26px 0;
}

.about-us p{
  height: 101px;
  margin: 0 0 23px 0;
}

.about-us p:first-of-type{
  height: 101px;
  margin: 0;
}

.transport-companies li{
  margin: 0 0 30px 26px;
}

.transport-companies{
  margin: 0 0 52px 0;
}

.button-about a{
  margin: 0 0 87px 0;
}

.transport-companies{
  margin-left: -26px;
}

.company{
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
}

.company:before{
  content: '';
  width: 8px;
  height: 8px;
  border: 1px solid #FFC700;
  border-radius: 50%;
  margin-right: 26px;
  background-color: #FFC700;
  align-self: center;
}

.contacts-subtitle{
  font-weight: 700;
  font-size: 24px;
  margin: 30px 0 15px 0;
}

.contacts-schedule{
  margin: 0 0 67px 0;
}

.contacts-phone{
  color: inherit;
  text-decoration-line: underline;
}

/* Рассылка */

.subscribe-wrapper{
  width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.subscribe-title,
.email,
.subscribe-wrapper p{
  width: 560px;
}

.subscribe-wrapper p{
  height: 99px;
  margin: 86px 0 0 0;
}

.subscribe-title{
  height: 120px;
  margin: 75px 0 53px 0;
}

.subscribe-form{
  display: grid;
  width: 860px;
  grid-template-columns: 600px 260px;
  grid-template-rows: 55px;rgba(0, 0, 0, 0.1);
  margin: 0 0 149px 0px;
}

.email{
  color: #444444;
  opacity: 0.5;
  background-color: #F0F0F0;
  width: 600px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}

.email:hover{
  color: #444444;
  opacity: 0.7;
}

.email:focus{
  background-color: #DCDCDC;
}

.email:active{
  border-bottom: 3px solid #000000;
  color: #000;
  background-color: #F0F0F0;
  opacity: 1;
}

.email:invalid{
  border-bottom: 3px solid #FF3D3D;
  opacity: 1;
}

.subscribe-button{
  border: 3px solid  rgba(0, 0, 0, 0.1);
}

.subscribe-button:hover{
  background: #000000;
  color: white;
}

.subscribe-button:focus{
  border: 3px solid #AF4FFF;
  box-sizing: border-box;
}

.subscribe-button:active{
  border: none;
  background: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-text{
  margin-top: 17px;
}

.subscribe-text::before{
  content: url(../img/Free.svg);
  padding-right: 21px;
}

/* Футер */

.page-footer{
  background-color: #444444;
  color: #FFF;
}

.page-footer-container{
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 0 auto;
}

.footer-contacts{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1160px;
  margin: 137px auto 0 auto;
  width: 1160px;
}

.footer-navigation-list{
  display: flex;
}

.footer-contacts-phone,
.footer-contacts-address-text {
  font-family: Rubik;
  font-size: 16px;
  line-height: 19px;
  color: inherit;
}

.footer-contacts-phone{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 15px 5px;
}

.footer-contacts-phone:focus{
  border: 2px solid #AF4FFF;
  margin-right: -2px;
  margin-left: -2px;
  border-radius: 25px;;
}

.footer-contacts-phone:hover{
  color: #FFC700;
}

.footer-contacts-phone:active{
  opacity: 0.3;
  border: none;
}

.footer-contacts-address-text{
  width: 240px;
  height: auto;
}

.footer-navigation-link{
  font-family: Raleway;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: inherit;
  width: 148px;
  margin-right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 20px 17px;
  margin-bottom: -2px;
  margin-top: -2px;
}

.footer-navigation-link:hover{
  color: #FFC700;
  border-bottom: 2px solid #FFC700;
  margin-bottom: -2px;
  margin-top: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 20px 15px;
}

.footer-navigation-link:focus{
  border: 2px solid #AF4FFF;
  border-radius: 25px;
  margin-bottom: -2px;
  margin-top: -2px;
}

.footer-navigation-link:active{
  border: none;
  border-radius: 0%;
  border-bottom: 2px solid #FFC700;
  margin-bottom: -2px;
  margin-top: -2px;
  opacity: 0.3;
}

.footer-solial-links{
  display: flex;
  margin: 65px auto 65px auto;
}

.footer-social-list{
  display: flex;
}

.footer-social-list a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  fill: #444444;
}

.footer-social-list a:focus{
  border: 5px solid #AF4FFF;
  fill: #fff;
  background-color: #444444;
}

.footer-social-list a:hover{
  border: none;
  background-color: #FFC700;
  fill: #444444;
}

.footer-social-list a:active{
  border: none;
  background-color: #FFC700;
  fill: rgba(68, 68, 68, 0.3);
  opacity: 0.9;
}

.footer-social-item{
  margin-right: 15px;
}

.footer-social-item:nth-of-type(1){
  margin-left: 521px;
}

.footer-social-item:nth-of-type(3){
  margin-right: 392px;
}

.htmlacademy-link{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  fill: #FFC700;
}

.htmlacademy-link:focus{
  border: 2px solid #AF4FFF;
  border-radius: 10px;
  fill: #FFC700;
}

.htmlacademy-logo:hover{
  fill: #FFFFFF;
}

.htmlacademy-logo:active{
  fill: #FFFFFF;
  opacity: 0.3;
}

.footer-social-item:last-of-type{
  /*
  margin-right: 392px;
  */
}

/* Catalog */
option{
  color:#000;
}

.page-catalog-wrapper{
  margin-bottom: 37px;
  margin-top: 40px;
  background-color: #FFE17F;
  color: #000;
}

.navigation-site-catalog{
  padding: 29px 59px 53px 60px;
}

.navigation-site-catalog li:nth-of-type(2){
  padding-left: 240px;
}

.user{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 245px;
}

.page-container{
  display: grid;
  grid-template-columns: 1fr 1160px 1fr;
  margin: 0 auto;
}

.page-container:before{
 content: '';
 background-color: #EBEBEB;
}

.page-container:after{
 content: '';
 background-color: white;
}

.inner-header-title{
  font-family: Raleway;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000;
  margin-top: 37px;
  margin-bottom: 14px;
  margin-left: 60px;
}

/* Хлебные крошки */

.breadcrumbs{
  display: flex;
  margin-bottom: 49px;
  margin-left: 60px;
}

.breadcrumbs-item{
  position: relative;
  margin-right: 36px;
}

.breadcrumbs-item:after{
  content: url(../img/nav-arrow.svg);
}

.breadcrumbs-item:last-of-type:after{
  content: '';
}

.breadcrumbs-link{
  font-size: 16px;
  line-height: 19px;
  color: #000;
  opacity: 0.6;
  margin-right: 36px;
}

.breadcrumbs-link{
  border: border: 5px solid #AF4FFF;;
}

.breadcrumbs-link:hover{
  opacity: 1;
}

.breadcrumbs-link:active{
  opacity: 0.3;
}

/* Левое меню каталога */

.catalog{
  display: flex;
  outline: 5px solid yellow;
  outline-offset: -5px;
}

.catalog-right-column{
  width: 972px;
}

.catalog-products{
  width: 468px;
  height: auto;
  background-color: #EBEBEB;
}

.catalog-products-title{
  font-family: Raleway;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #DCDCDC;
  color: #000;
  padding: 25px 32px 25px 60px;
}

.catalog-filter-title{
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000;
  padding: 108px 68px 0 60px;
}
.control-text{
  font-size: 16px;
  line-height: 19px;
  color: #000;
  display: inline-block;
  padding-left: 97px;
  margin-top: 21px;
}

.control{
  position: relative;
  display: block;
}

.control-mark{
  position: absolute;
  top: 22px;
  left: 60px;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  border-radius: 3px;
}

.control:focus .control-mark{
  border-color: #AF4FFF;
}

.control:hover .control-mark{
  opacity: 0.5;
}

.control:active .control-mark{
  opacity: 0.2;
}

.control-input[type="checkbox"]:checked + .control-mark:before{
  background-repeat: no-repeat;
  position: absolute;
  top: -8px;
  left: 4px;
  content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10 0L3.1 6.6L0 3.6V6.9L3.2 10L10 3.3V0Z' fill='black'/%3e%3c/svg%3e");
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #242424;
  border-radius: 50%;
  content: "";
}

/* правое меню сортировки */

.sorting-menu,
.pagination{
  background-color: #EBEBEB;
  font-size: 16px;
  line-height: 19px;
}

.sorting-menu{
  display: flex;
  padding: 25px 0 25px 72px;
  background-color: #EBEBEB;
}

.sorting-type{
  margin-right: auto;
}

.sorting-menu-text{
  font-family: Raleway;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000;
}

.select {
  position: relative;
  display: flex;
  align-items: center;
  width: 190px;

}

.select-control {
  width: 100%;
  background-color: #FFFFFF;
  border: none;
  background-color: #EBEBEB;
  background-image: url(../img/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: 178px center;;
  appearance: none;
}

.btn-prev{
  margin-right: 19px;
}

.btn-prev,
.btn-next{
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  fill: black;
  opacity: 0.2;
}

.btn-prev:focus,
.btn-next:focus{
  border: 5px solid #AF4FFF;
}

.btn-prev:hover,
.btn-next:hover{
  opacity: 0.5;
}

.btn-prev:active,
.btn-next:active{
  opacity: 1;
  border: none;
}

/* Каталог товаров */

.product-card-menu{
  margin-top: 69px;
  margin-left: 72px;
}

.product-list{
  display: grid;
  grid-template-columns: 360px 360px;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
}

.product-card-title{
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000;
  width: 280px;
  height: 50px;
}

.product-card-price{
  line-height: 21px;
  text-align: right;
}

.product-card-link-2{
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}

.button-more-cards{
  width: 760px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 44px auto 0 auto;
  border: 3px solid #000000;
}

/* Нижняя пагинация */

.pagination{
  margin: 51px 0 77px 72px;
  height: 70px;
}

.pagination-list{
  display: flex;
  justify-content: space-between;
}

.pagination-link-number{
  display: flex;
  width: 38px;
  height: 38px;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  color: inherit;
  opacity: 0.3;
}

.pagination-button{
  display: flex;
  align-items: center;
  height: 70px;
  padding-right: 19px;
  padding-left: 29px;
}

.pagination-button:focus{
  border: 5px solid #AF4FFF;
}

.pagination-button:hover{
  background-color: #DCDCDC;
}

.pagination-button:active{
 opacity: 0.3;
 background-color: #DCDCDC;
}

.pagination-list li:nth-of-type(2){
  margin-left: 209px;
}

.pagination-list li:nth-last-of-type(2){
  margin-right: 157px;
}

.pagination-link-number:focus{
  border: 5px solid #AF4FFF;
}

.pagination-link-number:hover{
  opacity: 1;
}

.pagination-link-number:active{
  opacity: 0.1;
}
